@import "tailwindcss";

@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Geist/Geist-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Galgo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/GalgoVF.woff2") format("woff2");
}

@layer base {
    :root {
        --font-sans: 'Geist', sans-serif;
        --font-serif: 'Galgo', serif;
    }
}